body{
    margin: 0;
}
.background{
    background-color: hsl(0, 0%, 90%);
}
header{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;   
}
.top-side{
    border-bottom: 1px solid rgb(228, 222, 222);
    justify-content: space-between; 
    display: flex;
    margin-bottom: 0px;
}
.icons__first-child{
    display: flex;
    margin-left: 100px; 
    float: left; 
}
.material-icons.phone{
    font-size: 15px;
    margin-top: 17px;
}
.number {
    color: rgb(109, 106, 106);
    font-size: 15px;
    margin-right: 10px;
    margin-left: 5px;
}
.material-icons.email{
    font-size: 15px;
    margin-top: 17px;
}
.email{
    color: rgb(109, 106, 106);
    font-size: 15px;
    margin-left: 5px ;
}
.icons__second-child{
    margin-top: 11px;
    float: right;
}
.material-icons.facebook{
    margin-left: 25px
}
.material-icons.twiter{
    margin-left: 25px;
}
.bottom-side{
    display: flex;
    justify-content: space-between;
    height: 90px; 
}
.links__title{
    color: rgb(109, 106, 106);
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
    margin-left: 60px;
    float: left;
}
.links__information>ul{
    display: flex; 
    list-style-type: none; 
    margin: 0;
    margin-top: 30px;
    float: right;
}

a{
    text-decoration: none;
     margin: 0;
     padding: 0;
    font-weight: 100;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(109, 106, 106);
       
}
.digital__first-child>img{
    width: 100%;
    height: 50%;
}
.digital__second-child{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: 100px;
  margin-top: 100px;
  
}
.digital__second-child>h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    padding-top: 300px;
   
}
.digital__second-child>p{
    font-size: 15px;
    line-height: 20px;
    margin: 0;
   
}
.digital__second-child>button{
    background-color: #fe6c39;
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin-left: 170px;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#second-section{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.beautiful-design_title{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.beautiful-design_title h2{
     font-size: 30px;
     font-weight: 100;
     color: rgb(45, 43, 43);
}
.beautiful-design_title p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 70px;
     font-size: 15px; 
     color: rgb(106, 102, 102);
    white-space: pre-line;
   
}
.beautiful-design_info{
    display: block;   
}
.beautiful-design_info_first{
    display: flex;
}
.design{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;
}
.material-icons.orange{
    display: flex;
    justify-content: center;
    color: #fe6c39;
    font-weight: 200;
    font-size: 50px;
    margin-right: 80px;
}
.beautiful__title{
    display: flex;
    justify-content: center;
    margin-right: 80px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(16, 15, 15);
    
}
.beautiful__text{
    color:rgb(141, 136, 136);
    line-height: 25px;
    
}
.development{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;

}
.branding{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;

}
.beautiful-design_info_second{
    display: flex;
    
}
.advertising{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;

}
.mobile-apps{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;
}
.strategy{
    font-size: 15px;
    color: rgb(45, 43, 43);
    margin-right: 50px;
}
.laptop_images{
    display: block;
    
}
.top__images{
   display: flex;
   
}
.image_1{
    margin-right: 50px;
    margin-bottom: 0px;
    height: 250px;
    
}
.laptop_images_title{
    background: white;
    padding: 25px;
    margin-top: -3px;
    margin-right: 50px;
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 20px;
    font-weight: 100; 
    -webkit-box-shadow: 6px 6px 23px -4px rgba(143, 140, 140, 0.41); 
    box-shadow: 6px 6px 23px -4px rgba(143, 140, 140, 0.41);

}


.bottom__images{
    display: flex;
    
}
.margin-bottom{
    margin-bottom: 50px;
}
.pictures_of_people{
     display: flex;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-bottom: 50px;
}
.picture{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: 100px;
   
}
.text h2{
    text-align: center;
    color: rgb(42, 41, 41);
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}
.text h3{
    text-align: center;
    color: rgb(42, 41, 41);
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 10px;
    text-rendering: optimizeSpeed;
    margin-bottom: -10px;
    margin-top: -10px;
   
}
.text p{
    text-align: center;
    color: rgb(137, 132, 132);
    margin-left: 10px;
    white-space: pre-line;
    
}
.icons{
  color: rgb(49, 48, 48);
  text-align: center;
}
.material-icons.icon{
    margin-left: 10px;
    margin-right: 10px;
}







.container{
    width: 1280px;
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.container-title{
    text-align: center;
    padding-top: 50px;
    
}
.container-title h3{
     font-weight: 300;
     font-size: 30px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.container-title p{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgba(8, 7, 7, 0.539);
    max-width: 400px;
    line-height: 20px;
    
}
.container-box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.container-box>div{
     width: 32%;
     background: white;
     -webkit-box-shadow: 6px 6px 23px -4px rgba(0,0,0,0.41); 
     box-shadow: 6px 6px 23px -4px rgba(0,0,0,0.41);
     padding: 15px 25px;
     box-sizing: border-box;
     text-align: center;
}
.container-box>div h4{
    font-weight: 300;

}
.container-box>div p{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.container-box>div hr{
    border-top: none;
    border-bottom: solid 1px #0000001a;
}
.container-box>div hr ~p{
    color: rgba(8, 7, 7, 0.539);
    font-size: 15px;
}
.container-box>div button{
     background: #fe6c39;
     color: white;
     border: none;
     text-transform: uppercase;
     padding: 5px 20px;
     font-weight: 100;
     font-size: 12px;
     margin-top: 15px;
     margin-bottom: 20px;
     border-radius: 2px;
}
.text_and_photo{
    display: flex;
    justify-content:space-around;
    margin-bottom: 100px;
}
.text_first{
    position: relative;
}
.material-icons.notch{
    color: gray;
    font-weight: 400;
    position: absolute;
    top: -10;
    left: -10;
    
}


.text_first p{
    text-align: center;
    color: rgb(113, 110, 110);
    white-space: inherit;
   font-size: 18px;
   margin-bottom: 40px;
}
.photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 32px;
    
    
}
.photo_first{
    display: flex;
}
.text_1{
    margin-left: 20px;
}
.text_1 h2{
     color: rgb(13, 13, 13);
     font-weight: bold;
     font-size: 20px;
     text-align: center;
     display: inline-block;
     vertical-align:top;
}
.text_1 h3{
      color: rgb(16, 15, 15);
      font-weight: 200;
      font-size: 18px;  
      margin-top: -10px;
       
}

.text_and_photo_second{
     margin-left: 25px;
     margin-right: 25px;
 }
 .lets_create{
     text-align: center;
     margin: 0;
     padding-top: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .lets_create h2{
     font-size: 30px;
     font-weight: 100;
     color: rgb(45, 43, 43);
     margin-top: 60px;
    }
 .lets_create p{
     margin: 0;
     margin-top: 10px;
     margin-bottom: 70px;
     font-size: 15px; 
     color: rgb(106, 102, 102);
     white-space: pre-line;
     margin-bottom: 30px;
      
    }
    
.div_button button{
    background: #fe6c39;
    color: white;
    font-size: 20;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    text-align: center;
    border-radius: 2px;
    padding: 10px 20px;
    margin-left: 550px;
    margin-bottom: 80px;
    
   
}



@media (max-width:767px){
    .container-box{
        display: block;  
    }
    .container-box>div{
        width: 100%;
        margin-bottom: 15px;
   }
}